@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Inter";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 200;
  src: url(assets/fonts/AfacadFlux-ExtraLight.ttf);
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  src:url(assets/fonts/AfacadFlux-Regular.ttf) ;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url(assets/fonts/AfacadFlux-Medium.ttf);
}


@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src:url(assets/fonts/AfacadFlux-Bold.ttf) ;
}

